@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

main {
    color: white;
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
    font-size: 2em;
}

section#itens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#res {
    margin-top: 30px;
}

#res > p {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

input#button {
    border-radius: 10px;
    border: none;
    width: 125px;
    height: 30px;
    padding: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

input#button:hover {
    background-color: rgb(153, 153, 153);
    transition: .2s;
}